@media (max-width: 1440px) {
  #header {
    .header {
      &--logo {
        &__svx {
        }

        &__text {

          h3 {

          }
        }
      }

      &--link {
        a {

        }
      }

      ion-icon {
      }

      button {

      }
    }
  }
  #hero {
    .hero {
      h1 {

      }

      p {

      }

      &--btn {
        button {

        }
      }
    }
  }
  #navbar {
    .nav {
      h1 {

      }

      &--block {
        &__left {
          p {

          }

          img {

          }
        }

        &--right {
          h1 {

          }

          details {
            summary {
            }

            p {

            }
          }

          h2 {

          }

          &--text {
            &__p {

            }

            span {

            }

            h4 {

            }

            img {

            }

          }

        }
      }

    }
  }
  #main {
    .main {
      h1 {

      }

      &--group {
        &__block {
          &--svj {

          }

        }
      }

    }
  }
  #page {
    .page {
      h1 {

      }

      &--block {
        &__left {
          button {
            font-weight: 900;
            font-size: 18px;
            line-height: 27px;
            text-transform: capitalize;
            color: #FFFFFF;
            text-align: center;
            border: none;
            padding: 10px 102px;
            background: #1A5CFF;
            box-shadow: 0 8px 20px rgb(26 92 255 / 20%);
            border-radius: 15px;
          }

          h2 {

          }

          p {

          }

          &--text {
            display: flex;
            align-items: center;
            padding: 30px 0 24px 0;

            &__one {
              h3 {

              }
            }

            &--two {
              h3 {

              }
            }


          }
        }
      }

      &--right {
        img {

        }
      }
    }
  }
  #text {
    .text {
      h6 {

      }

      &--group {
        &__one {
          h1 {

          }
        }

        &--two {
          h2 {

          }
        }

        &--three {
          h3 {

          }
        }
      }

      &--block {
        h1 {
        }

        &__grou {
          &--one {
            &__logo {
              span {
              }

              img {
              }
            }
          }
        }
      }
    }
  }
  #block {
    .block {
      h1 {

      }

      &--bloks {
        &--h {
          &--group {
            &__block {
              h1 {

              }

              h6 {

              }

              &--text {
                span {

                }

                h5 {

                }

              }

              h3 {

              }

              h4 {

              }

              button {

              }

              h2 {

              }
            }
          }

        }
      }
    }
  }
  #service {
    .service {
      &--text {
        h1 {

        }

        p {
        }
      }

      &__inputs {
        p {

        }

        input {

        }

        &__group {
          p {

          }

          button {

          }
        }
      }
    }
  }
  #accordion {
    .accordion {
      &--text {
        h1 {

        }

        ion-icon {

        }
      }

      &--label {
        details {
          summary {

          }
        }
      }
    }
  }
  #footer {
    .footer {
      img {

      }

      &--one {
        h1 {

        }

        p {

        }

        button {

        }
      }

      &--two {
        h2 {

        }

        &__icon {
          ion-icon {

          }
        }
      }

      &--thee {
        p {
          span {

          }
        }

        input {

        }

        button {

        }

        h2 {

        }
      }
    }

    .pod {
      p {

      }

      &--left {
        p {

        }

        img {

        }
      }
    }
  }
}

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
  #header {
    .header {
      &--logo {
        &__svx {
        }

        &__text {

          h3 {

          }
        }
      }

      &--link {
        a {

        }
      }

      ion-icon {
      }

      button {

      }
    }
  }
  #hero {
    .hero {
      h1 {

      }

      p {

      }

      &--btn {
        button {

        }
      }
    }
  }
  #navbar {
    .nav {
      h1 {

      }

      &--block {
        width: 100%;

        &__left {
          p {

          }

          img {

          }
        }

        &--right {
          h1 {

          }

          details {
            summary {
            }

            p {

            }
          }

          h2 {

          }

          &--text {
            &__p {

            }

            span {

            }

            h4 {

            }

            img {

            }

          }

        }
      }

    }
  }
  #main {
    .main {
      h1 {

      }

      &--group {
        &__block {
          &--svj {

          }

        }
      }

    }
  }
  #page {
    .page {
      h1 {

      }

      &--block {
        &__left {
          button {
            font-weight: 900;
            font-size: 18px;
            line-height: 27px;
            text-transform: capitalize;
            color: #FFFFFF;
            text-align: center;
            border: none;
            padding: 10px 102px;
            background: #1A5CFF;
            box-shadow: 0 8px 20px rgb(26 92 255 / 20%);
            border-radius: 15px;
          }

          h2 {

          }

          p {

          }

          &--text {
            display: flex;
            align-items: center;
            padding: 30px 0 24px 0;

            &__one {
              h3 {

              }
            }

            &--two {
              h3 {

              }
            }


          }
        }
      }

      &--right {
        img {

        }
      }
    }
  }
  #text {
    .text {
      h6 {

      }

      &--group {
        &__one {
          h1 {
            font-size: 54px;
          }
        }

        &--two {
          h2 {

          }
        }

        &--three {
          h3 {

          }
        }
      }

      &--block {
        h1 {
        }

        &__grou {
          &--one {
            &__logo {
              span {
              }

              img {
              }
            }
          }
        }
      }
    }
  }
  #block {
    .block {
      h1 {

      }

      &--bloks {
        &--h {
          &--group {
            &__block {
              h1 {

              }

              h6 {

              }

              &--text {
                span {

                }

                h5 {

                }

              }

              h3 {

              }

              h4 {

              }

              button {

              }

              h2 {

              }
            }
          }

        }
      }
    }
  }
  #service {
    .service {
      &--text {
        h1 {

        }

        p {
        }
      }

      &__inputs {
        p {

        }

        input {

        }

        &__group {
          p {

          }

          button {

          }
        }
      }
    }
  }
  #accordion {
    .accordion {
      &--text {
        h1 {

        }

        ion-icon {

        }
      }

      &--label {
        details {
          summary {

          }
        }
      }
    }
  }
  #footer {
    .footer {
      img {

      }

      &--one {
        h1 {

        }

        p {

        }

        button {

        }
      }

      &--two {
        h2 {

        }

        &__icon {
          ion-icon {

          }
        }
      }

      &--thee {
        p {
          span {

          }
        }

        input {

        }

        button {

        }

        h2 {

        }
      }
    }

    .pod {
      p {

      }

      &--left {
        p {

        }

        img {

        }
      }
    }
  }
}

@media (max-width: 992px) {
  #header {
    .header {
      &--logo {
        &__svx {
        }

        &__text {

          h3 {

          }
        }
      }

      &--link {
        a {

        }
      }

      ion-icon {
      }

      button {

      }
    }
  }
  #hero {
    .hero {
      h1 {

      }

      p {

      }

      &--btn {
        button {

        }
      }
    }
  }
  #navbar {
    .nav {
      h1 {

      }

      &--block {
        width: 100%;

        &__left {
          p {

          }

          img {

          }
        }

        &--right {
          h1 {

          }

          details {
            summary {
            }

            p {

            }
          }

          h2 {

          }

          &--text {
            &__p {

            }

            span {

            }

            h4 {

            }

            img {

            }

          }

        }
      }

    }
  }
  #main {
    .main {
      h1 {

      }

      &--group {
        &__block {
          &--svj {

          }

        }
      }

    }
  }
  #page {
    .page {
      h1 {

      }

      &--block {
        &__left {
          button {
            font-weight: 900;
            font-size: 18px;
            line-height: 27px;
            text-transform: capitalize;
            color: #FFFFFF;
            text-align: center;
            border: none;
            padding: 10px 102px;
            background: #1A5CFF;
            box-shadow: 0 8px 20px rgb(26 92 255 / 20%);
            border-radius: 15px;
          }

          h2 {

          }

          p {

          }

          &--text {
            display: flex;
            align-items: center;
            padding: 30px 0 24px 0;

            &__one {
              h3 {

              }
            }

            &--two {
              h3 {

              }
            }


          }
        }
      }

      &--right {
        img {

        }
      }
    }
  }
  #text {
    .text {
      h6 {

      }

      &--group {
        &__one {
          h1 {
            font-size: 45px;
          }
        }

        &--two {
          h2 {
            font-size: 25px;
          }
        }

        &__three {
          display: flex;
          align-items: center;
          justify-content: space-around;
          padding: 0 32px;

          h3 {
            padding: 0 10px;
            font-size: 22px;
          }
        }
      }

      &--block {
        h1 {
        }

        &__grou {
          &--one {
            &__logo {
              span {
              }

              img {
              }
            }
          }
        }
      }
    }
  }
  #block {
    .block {
      h1 {

      }

      &--blocks {

      }

      &--h {
        &--group {
          &__block {
            padding: 20px;


            h1 {
              margin: -47px 0px 26px 0;
            }

            h6 {

            }

            &--text {
              span {

              }

              h5 {

              }

            }

            h3 {

            }

            h4 {

            }

            button {

            }

            h2 {

            }
          }
        }

      }
    }
  }
  #service {
    .service {
      &--text {
        h1 {

        }

        p {
        }
      }

      &--inputs {
        p {

        }

        input {
          width: 532px;
        }

        &__group {
          p {

          }

          button {
            width: 203px;
            height: 47px;
          }
        }
      }
    }
  }
  #accordion {
    .accordion {
      &--text {
        h1 {

        }

        ion-icon {

        }
      }

      &--label {
        details {
          summary {
            margin: 0 0;
          }
        }
      }
    }
  }
  #footer {
    .footer {
      img {

      }

      &--one {
        h1 {

        }

        p {

        }

        button {

        }
      }

      &--two {
        h2 {

        }

        &__icon {
          ion-icon {

          }
        }
      }

      &--thee {
        p {
          span {

          }
        }

        input {

        }

        button {

        }

        h2 {

        }
      }
    }

    .pod {
      p {

      }

      &--left {
        p {

        }

        img {

        }
      }
    }
  }

}

@media (max-width: 768px) {
  .page--right__img {
    height: 400px;
    width: 101%;
    object-fit: cover;
  }
  #header {
    .header {
      &--logo {
        &__svx {
        }

        &__text {

          h3 {

          }
        }
      }

      &--link {
        a {

        }
      }

      ion-icon {
      }

      button {

      }
    }
  }
  #hero {
    .hero {
      h1 {

      }

      p {

      }

      &--btn {
        button {

        }
      }
    }
  }
  #navbar {
    .nav {
      h1 {

      }

      &--block {
        &__left {
          p {
            width: 396px;
          }

          img {

          }
        }

        &__right {
          h1 {
            padding: 0 0;
          }

          details {
            summary {
            }

            p {
              font-size: 10px;
            }
          }

          h2 {

          }

          &--text {
            &__p {

            }

            span {

            }

            h4 {

            }

            img {

            }

          }

        }
      }

    }
  }
  #main {
    .main {
      h1 {

      }

      &--group {
        &__block {
          &--svj {

          }

        }
      }

    }
  }
  #page {
    .page {
      h1 {

      }

      &--block {
        &__left {
          button {
            font-weight: 900;
            font-size: 18px;
            line-height: 27px;
            text-transform: capitalize;
            color: #FFFFFF;
            text-align: center;
            border: none;
            padding: 10px 102px;
            background: #1A5CFF;
            box-shadow: 0 8px 20px rgb(26 92 255 / 20%);
            border-radius: 15px;
          }

          h2 {

          }

          p {

          }

          &--text {
            display: flex;
            align-items: center;
            padding: 30px 0 24px 0;

            &__one {
              h3 {

              }
            }

            &--two {
              h3 {

              }
            }


          }
        }
      }

      &--right {
        img {

        }
      }
    }
  }
  #text {
    .text {
      h6 {

      }

      &--group {
        &__one {
          h1 {
            font-size: 35px;
          }
        }

        &__two {
          h2 {
            font-size: 26px;
          }
        }

        &__three {
          h3 {
            display: none;
            padding: 0 10px;
            font-size: 16px;
          }
        }
      }

      &--block {

        h1 {
        }

        &__grou {
          &--one {
            &__logo {
              span {
              }

              img {
              }
            }
          }
        }
      }
    }
  }
  #block {
    .block {
      h1 {

      }

      &--blocks {
        flex-direction: column;
      }

      &--h {
        &--group {
          &__block {
            h1 {

            }

            h6 {

            }

            &--text {
              span {

              }

              h5 {

              }

            }

            h3 {

            }

            h4 {

            }

            button {

            }

            h2 {

            }
          }
        }

      }
    }
  }
  #service {
    .service {
      align-items: center;
      flex-direction: column;

      &--text {
        h1 {

        }

        p {
        }
      }

      &__inputs {
        p {

        }

        input {

        }

        &__group {
          p {

          }

          button {

          }
        }
      }
    }
  }
  #accordion {
    .accordion {
      flex-direction: column;

      &--text {
        h1 {

        }

        ion-icon {

        }
      }

      &--label {
        details {
          summary {

          }
        }
      }
    }
  }
  #footer {
    .footer {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-around;

      img {

      }

      &--one {
        h1 {

        }

        p {

        }

        button {

        }
      }

      &--two {
        h2 {

        }

        &__icon {
          ion-icon {

          }
        }
      }

      &--thee {
        p {
          span {

          }
        }

        input {

        }

        button {

        }

        h2 {

        }
      }
    }

    .pod {
      p {

      }

      &--left {
        p {

        }

        img {

        }
      }
    }
  }
}

@media (max-width: 576px) {
  #header {
    .header {
      &--logo {
        &__svx {
        }

        &__text {

          h3 {

          }
        }
      }

      &--link {
        a {
          padding: 0 2px;
        }
      }

      ion-icon {
      }

      button {

      }
    }
  }
  #hero {
    .hero {
      h1 {

      }

      p {

      }

      &--btn {
        button {

        }
      }
    }
  }
  #navbar {
    .nav {
      h1 {

      }

      &--block {
        width: 90%;
        height: 981px;
        background: #FFFFFF;
        border-radius: 15px;
        padding: 30px 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column-reverse;
        align-items: center;

        &__left {
          p {

          }

          img {

          }
        }

        &--right {
          h1 {

          }

          details {
            summary {
            }

            p {

            }
          }

          h2 {

          }

          &--text {
            &__p {

            }

            span {

            }

            h4 {

            }

            img {

            }

          }

        }
      }

    }
  }
  #main {
    .main {
      h1 {

      }

      &--group {
        &__block {
          &--svj {

          }

        }
      }

    }
  }
  #page {

    min-height: 160vh;

    .page--right__img {
      border-radius: 15px;
      height: 421px;
      object-fit: cover;
    }

    .page {
      h1 {

      }

      &--block {
        height: 421px;

        &__left {
          button {
            padding: 10px 67px;
          }

          h2 {

          }

          p {

          }

          &--text {

            &__one {
              h3 {
              }
            }

            &__two {
              h3 {
                padding-left: 0;

              }
            }


          }
        }
      }

      &--right {
        img {

        }
      }
    }
  }
  #text {

    .text {
      h6 {
        font-size: 28px;
      }

      &--group {
        &__one {
          h1 {
            font-size: 26px;
          }
        }

        &__two {
          h2 {
            font-size: 20px;
            padding: 0 0;
          }
        }

        &__three {
          h3 {
            padding: 0 4px;
            font-size: 14px;
          }
        }
      }

      &--block {
        h1 {
        }

        &__grou {
          &--one {
            &__logo {
              span {
              }

              img {
              }
            }
          }
        }
      }
    }
  }
  #block {
    .block {
      h1 {

      }

      &--bloks {
        &--h {
          &--group {
            &__block {
              h1 {

              }

              h6 {

              }

              &--text {
                span {

                }

                h5 {

                }

              }

              h3 {

              }

              h4 {

              }

              button {

              }

              h2 {

              }
            }
          }

        }
      }
    }
  }
  #service {
    .service {
      &--text {
        h1 {

        }

        p {
        }
      }

      &__inputs {
        p {

        }

        input {

        }

        &__group {
          p {

          }

          button {

          }
        }
      }
    }
  }
  #accordion {
    .accordion {
      &--text {
        h1 {

        }

        ion-icon {

        }
      }

      &--label {
        details {
          width: 100%;

          summary {
            margin: 10px 0;
            border-top: 2px solid #9099A3;
            border-bottom: 2px solid #9099A3;
            display: flex;
            cursor: pointer;
            font-weight: 500;
            width: 100%;
            font-size: 17px;
            line-height: 30px;
            color: #FFFFFF;
          }
        }
      }
    }
  }
  #footer {
    .footer {
      flex-direction: column;

      img {

      }

      &--one {
        margin: 20px 0;
        width: 90%;
        h1 {

        }

        p {

        }

        button {

        }
      }

      &--two {
        margin: 20px 0;
        width: 90%;
        h2 {

        }

        &__icon {
          ion-icon {
            height: 20px;
            width: 20px;
            margin: 10px;
          }
        }
      }

      &--thee {
        margin: 20px 0;

        p {
          span {

          }
        }

        input {

        }

        button {
          margin: 0;
        }

        h2 {

        }
      }
    }

    .pod {
      p {

      }

      &--left {
        p {

        }

        img {

        }
      }
    }
  }
}

@media (max-width: 452px) {
  #header {
    .header {
      &--logo {
        &__svx {
        }

        &__text {

          h3 {

          }
        }
      }

      &--link {
        display: none;

        a {

        }
      }

      ion-icon {
      }

      button {

      }
    }
  }
  #hero {
    .hero {
      h1 {

      }

      p {

      }

      &--btn {
        button {

        }
      }
    }
  }
  #navbar {
    .nav {
      h1 {

      }

      &--block {
        width: 100%;

        &__left {
          p {

          }

          img {

          }
        }

        &--right {
          h1 {

          }

          details {
            summary {
            }

            p {

            }
          }

          h2 {

          }

          &--text {
            &__p {

            }

            span {

            }

            h4 {

            }

            img {

            }

          }

        }
      }

    }
  }
  #main {
    .main {
      h1 {

      }

      &--group {
        &__block {
          height: 350px;

          &--svj {

          }

        }
      }

    }
  }
  #page {
    .page {
      h1 {
        font-size: 22px;
      }

      &--block {
        height: 688px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        background: #FFFFFF;
        border-radius: 15px;
        flex-direction: column-reverse;

        &__left {
          button {
            font-weight: 900;
            font-size: 18px;
            line-height: 27px;
            text-transform: capitalize;
            color: #FFFFFF;
            text-align: center;
            border: none;
            padding: 10px 102px;
            background: #1A5CFF;
            box-shadow: 0 8px 20px rgb(26 92 255 / 20%);
            border-radius: 15px;
          }

          h2 {

          }

          p {

          }

          &--text {
            display: none;


            &__one {
              h3 {

              }
            }

            &--two {
              h3 {

              }
            }


          }
        }
      }

      &--right {
        .page--right__img {
          border-radius: 15px;
          height: 295px;
          object-fit: cover;

          img {

          }
        }
      }
    }
  }
  #text {
    .text {
      h6 {
        font-size: 22px;
      }

      &--group {
        &__one {
          h1 {
            font-size: 21px;
          }
        }

        &__two {
          h2 {
            font-size: 16px;
          }
        }

        &__three {
          h3 {
            font-size: 11px;
          }
        }
      }

      &--block {
        h1 {
          font-size: 20px;
        }

        &__grou {
          &--one {
            &__logo {
              span {
              }

              img {
              }
            }
          }
        }
      }
    }
  }
  #block {
    .block {
      h1 {
        font-size: 22px;
      }

      &--bloks {
        &--h {
          &--group {
            &__block {
              h1 {

              }

              h6 {

              }

              &--text {
                span {

                }

                h5 {

                }

              }

              h3 {

              }

              h4 {

              }

              button {

              }

              h2 {

              }
            }
          }

        }
      }
    }
  }
  #service {
    .service {
      &--text {
        h1 {

        }

        p {
        }
      }

      &--inputs {
        width: 90%;

        p {

        }

        input {
          width: 320px;
        }

        &__group {
          p {
            font-size: 12px;
          }

          button {

          }
        }
      }
    }
  }
  #accordion {
    .accordion {
      &--text {
        h1 {

        }

        ion-icon {

        }
      }

      &--label {
        //text-align: center;
        //display: flex;
        //flex-direction: column;
        //justify-content: center;
        //align-items: center;
        details {
          width: 100%;

          summary {
            width: 101%;
            font-size: 15px;
          }
        }
      }
    }
  }
  #footer {
    .footer {
      img {

      }

      &--one {
        h1 {

        }

        p {

        }

        button {

        }
      }

      &--two {
        h2 {

        }

        &__icon {
          ion-icon {

          }
        }
      }

      &--thee {
        p {
          span {

          }
        }

        input {

        }

        button {

        }

        h2 {

        }
      }
    }

    .pod {
      p {

      }

      &--left {
        p {

        }

        img {

        }
      }
    }
  }
}

@media (max-width: 400px) {
  #header {
    .header {
      &--logo {
        &__svx {
        }

        &__text {

          h3 {

          }
        }
      }

      &--link {
        a {

        }
      }

      ion-icon {
      }

      button {

      }
    }
  }
  #hero {
    .hero {
      h1 {

      }

      p {

      }

      &--btn {
        button {

        }
      }
    }
  }
  #navbar {
    .nav {
      h1 {

      }

      &--block {
        width: 80%;
        padding: 10%;
        height: 1060px;

        &__left {
          p {
            width: 80%;

          }

          img {

          }
        }

        &__right {
          h1 {
            text-align: center;
          }

          details {
            width: 100%;

            summary {
            }

            p {
            }
          }

          h2 {
            font-size: 16px;
          }

          &--text {
            &__p {

            }

            span {

            }

            h4 {

            }

            img {

            }

          }
        }

      }
    }
  }
  #main {
    .main {
      h1 {
        font-size: 23px;
      }

      &--group {
        &__block {
          button {
            padding: 10px 47px;
            text-align: center;
          }

          &--svj {

          }

        }
      }

    }
  }
  #page {
    .page {
      h1 {

      }

      &--block {
        height: 830px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        &__left {
          button {
            font-weight: 900;
            font-size: 18px;
            line-height: 27px;
            text-transform: capitalize;
            color: #FFFFFF;
            text-align: center;
            border: none;
            padding: 10px 102px;
            background: #1A5CFF;
            box-shadow: 0 8px 20px rgb(26 92 255 / 20%);
            border-radius: 15px;
          }

          h2 {

          }

          p {

          }

          &--text {
            display: none;

            &__one {
              h3 {

              }
            }

            &--two {
              h3 {

              }
            }


          }
        }
      }

      &--right {
        img {

        }
      }
    }
  }
  #text {
    .text {
      h6 {

      }

      &--group {
        &__one {
          h1 {
            font-size: 18px;
          }
        }

        &--two {
          h2 {

          }
        }

        &--three {
          h3 {

          }
        }
      }

      &--block {
        h1 {
        }

        &__grou {
          &--one {
            &__logo {
              span {
              }

              img {
              }
            }
          }
        }
      }
    }
  }
  #block {
    .block {
      h1 {

      }

      &--bloks {
        &--h {
          &--group {
            &__block {
              h1 {

              }

              h6 {

              }

              &--text {
                span {

                }

                h5 {

                }

              }

              h3 {

              }

              h4 {

              }

              button {

              }

              h2 {

              }
            }
          }

        }
      }
    }
  }
  #service {
    .service {
      &--text {
        h1 {

        }

        p {
        }
      }

      &__inputs {
        p {

        }

        input {

        }

        &__group {
          p {

          }

          button {

          }
        }
      }
    }
  }
  #accordion {
    .accordion {
      &--text {
        h1 {

        }

        ion-icon {

        }
      }

      &--label {
        details {
          summary {
            font-size: 13px;
          }
        }
      }
    }
  }
  #footer {
    .footer {
      img {

      }

      &--one {
        h1 {

        }

        p {

        }

        button {

        }
      }

      &--two {
        h2 {

        }

        &__icon {
          ion-icon {

          }
        }
      }

      &--thee {
        p {
          span {

          }
        }

        input {
          outline: none;
        }

        button {

        }

        h2 {

        }
      }
    }

    .pod {
      p {

      }

      &--left {
        p {

        }

        img {

        }
      }
    }
  }
}

.musaliev-img {
  width: 100%;
}

@media (max-width: 376px) {
  #header {
    .header {
      &--logo {
        &__svx {
        }

        &__text {

          h3 {

          }
        }
      }

      &--link {
        a {

        }
      }

      ion-icon {
      }

      button {

      }
    }
  }
  #hero {
    .hero {
      h1 {
        text-align: center;
        font-size: 30px;
      }

      p {
        font-size: 16px;
        text-align: center;
      }

      &--btn {
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
          margin: 10px 0;
        }
      }
    }
  }

  #navbar {
    .nav {
      h1 {

      }

      &--block {
        height: 1187px;

        &__left {
          p {

          }

          img {

          }
        }

        &--right {
          h1 {

          }

          details {
            summary {
            }

            p {

            }
          }

          h2 {

          }

          &--text {
            &__p {

            }

            span {

            }

            h4 {

            }

            img {

            }

          }

        }
      }

    }
  }

  #main {
    .main {
      h1 {
        font-size: 18px;
      }

      &--group {
        &__block {
          &--svj {

          }

        }
      }

    }
  }

  #page {
    .page {
      h1 {
        font-size: 16px;
      }
      &--block {
        height: 684px;
        &__left {
          button {
            padding: 10px 69px;
          }

          h2 {

          }

          p {

          }

          &--text {
            display: none;


            &__one {
              h3 {

              }
            }

            &--two {
              h3 {

              }
            }


          }
        }
      }

      &--right {
        .page--right__img {
          height: 230px;

        }
        img {

        }
      }
    }
  }

  #text {
    .text {
      h6 {
        font-size: 19px;
      }

      &--group {
        &__one {
          h1 {
            line-height: 30px;
            font-size: 15px;
          }
        }

        &__two {
          flex-wrap: wrap;
          h2 {

          }
        }

        &__three {
          flex-wrap: wrap;

          h3 {

          }
        }
      }

      &--block {
        h1 {
        }

        &__grou {
          &--one {
            &__logo {
              span {
              }

              img {
              }
            }
          }
        }
      }
    }
  }

  #block {
    .block {
      h1 {

      }

      &--bloks {
        &--h {
          &--group {
            &__block {
              h1 {

              }

              h6 {

              }

              &--text {
                span {

                }

                h5 {

                }

              }

              h3 {

              }

              h4 {

              }

              button {

              }

              h2 {

              }
            }
          }

        }
      }
    }
  }

  #service {
    .service {
      &--text {
        h1 {
          padding: 19px 0;
        }

        p {
        }
      }

      &--inputs {
        p {

        }

        input {
          width: 260px;

        }

        &__group {
          p {
            font-size: 10px;
          }

          button {

          }
        }
      }
    }
  }

  #accordion {
    .accordion {
      &--text {
        h1 {
          font-size: 31px;
          line-height: 46px;
        }

        ion-icon {

        }
      }

      &--label {
        details {
          summary {
            font-size: 10px;

          }
        }
      }
    }
  }

  #footer {
    .footer {
      img {

      }

      &--one {
        h1 {

        }

        p {

        }

        button {

        }
      }

      &--two {
        width: 90%;
        h2 {

        }

        &__icon {
          ion-icon {

          }
        }
      }

      &--thee {
        p {
          span {

          }
        }

        input {

        }

        button {

        }

        h2 {

        }
      }
    }

    .pod {
      p {

      }

      &--left {
        p {

        }

        img {

        }
      }
    }
  }

}

@media (max-width: 300px) {
  #header {
    .header {
      &--logo {
        &__svx {
        }

        &__text {

          h3 {

          }
        }
      }

      &--link {
        a {

        }
      }

      ion-icon {
      }

      button {

      }
    }
  }
  #hero {
    .hero {
      h1 {

      }

      p {

      }

      &--btn {
        button {

        }
      }
    }
  }
  #navbar {
    .nav {
      h1 {

      }

      &--block {
        &__left {
          p {

          }

          img {

          }
        }

        &--right {
          h1 {

          }

          details {
            summary {
            }

            p {

            }
          }

          h2 {

          }

          &--text {
            &__p {

            }

            span {

            }

            h4 {

            }

            img {

            }

          }

        }
      }

    }
  }
  #main {
    .main {
      h1 {

      }

      &--group {
        &__block {
          &--svj {

          }

        }
      }

    }
  }
  #page {
    .page {
      h1 {

      }

      &--block {
        &__left {
          button {
            font-weight: 900;
            font-size: 18px;
            line-height: 27px;
            text-transform: capitalize;
            color: #FFFFFF;
            text-align: center;
            border: none;
            padding: 10px 102px;
            background: #1A5CFF;
            box-shadow: 0 8px 20px rgb(26 92 255 / 20%);
            border-radius: 15px;
          }

          h2 {

          }

          p {

          }

          &--text {
            display: flex;
            align-items: center;
            padding: 30px 0 24px 0;

            &__one {
              h3 {

              }
            }

            &--two {
              h3 {

              }
            }


          }
        }
      }

      &--right {
        img {

        }
      }
    }
  }
  #text {
    .text {
      h6 {

      }

      &--group {
        &__one {
          h1 {

          }
        }

        &--two {
          h2 {

          }
        }

        &--three {
          h3 {

          }
        }
      }

      &--block {
        h1 {
        }

        &__grou {
          &--one {
            &__logo {
              span {
              }

              img {
              }
            }
          }
        }
      }
    }
  }
  #block {
    .block {
      h1 {

      }

      &--bloks {
        &--h {
          &--group {
            &__block {
              h1 {

              }

              h6 {

              }

              &--text {
                span {

                }

                h5 {

                }

              }

              h3 {

              }

              h4 {

              }

              button {

              }

              h2 {

              }
            }
          }

        }
      }
    }
  }
  #service {
    .service {
      &--text {
        h1 {

        }

        p {
        }
      }

      &__inputs {
        p {

        }

        input {

        }

        &__group {
          p {

          }

          button {

          }
        }
      }
    }
  }
  #accordion {
    .accordion {
      &--text {
        h1 {

        }

        ion-icon {

        }
      }

      &--label {
        details {
          summary {

          }
        }
      }
    }
  }
  #footer {
    .footer {
      img {

      }

      &--one {
        h1 {

        }

        p {

        }

        button {

        }
      }

      &--two {
        width: 90%;
        h1 {

        }

        &__icon {
          ion-icon {

          }
        }
      }

      &--thee {
        p {
          span {

          }
        }

        input {

        }

        button {
          display: none;

        }

        h2 {

        }
      }
    }

    .pod {
      p {
        font-size: 9px;
      }

      &--left {
        p {

        }

        img {

        }
      }
    }
  }
}
