@mixin hdf() {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin logo() {
  display: flex;
  align-items: center;
}

@mixin ad() {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin link() {
  &:hover {
    color: #FFFFFF;
    transition: .3s;
    transform: scale(1.1);
  }
}

@mixin btn() {
  &:hover {
    background: transparent;
    transition: .2s;
    box-shadow: none;
    border: 2px solid #9099A3;
    color: #9099A3;
  }
}

@mixin pocet() {
  transition: .3s;
  background: #2C3E50;
  color: white;
}


@mixin h6() {
  h6 {
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
  }
}

@mixin flot() {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@mixin sjv {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

@mixin before {
  &:before {
    content: '';
    clip-path: polygon(54% 75%, 88% 16%, 57% 100%, 22% 56%);
    width: 10px;
    height: 6px;
    background: black;
    padding: 3px 10px;
  }
}

@mixin dif {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin fia {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@mixin all {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin bg {
  &:hover {
    background: #1A5CFF;
    transition: .3s;
    color: white;
  }
}


@mixin block () {
  &:hover {
    transition: .4s;
    //transform: translate(0,90px) scale(1.1);
    background: #1A5CFF;
    border-radius: 15px;
    cursor: pointer;
    h1 {
      opacity: 1;
      transition: .4s;
    }
  }


}

@mixin dfb () {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin dfe () {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

@mixin footer() {
  &:hover {
    transform: translate(30px,-20px) scale(1.3);
  }
}


















